:root {
  --background: #ffffff;
  --sidebar: #fafafa;
  --card: #f6f8fa;
  --teksti: #2c2c2c;
  --text-muted: #6e7781;
  --heading: #1a1a1a;
  --accent: #087ea4;
  --border: #e5e7ebc7;
  --highlight: #e8f3ff;
  --kalter:#61dafb;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
html{
    scroll-padding-top: 100px;
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 19% 50% 31%;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "aside main right";
    overflow-y: scroll;
    background-color: var(--background);
    color: var(--teksti);
    font-family: Arial, sans-serif;
}
#fillim{
    font-weight: bold;
    text-decoration: none;
    color: var(--accent);
}
main :first-child{
    margin-bottom: 15px;
}
.fixed-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--background);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
header{
    background-color:var(--border)  ;
    color: var(--white);
    width: 100%;
    height: 40px;
    padding:10px;
    text-align: center;
    font-size: 1.5em;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{ 
    left : 0;
    right: 0%;
    box-sizing: border-box;
    padding-top: 25px;
    max-width: 100%;
    margin-top: 3px;
    margin-bottom: 10px;
    align-items: center;
    top: 50px;
    z-index: 1000;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 10px;
    padding: 10px;
    align-items: center;
}
nav ul li{
    display: flex;
    align-items: center;
    margin: 10px;
    padding-left:6px ;
    padding-right: 6px;
}
.nav-links li:nth-child(2){
    flex: 1;
}
.nav-links li:nth-child(3){
    
    background-color: #3ecdf52d;
    border-radius: 20px;
    color: var(--accent);
}

nav ul li form input{
  width: 1100px;
  border-radius: 20px;
  border: 1px solid #dddada;
  background-color: var(--border);
  height: 30px;
  box-sizing: border-box;
  padding-left: 15px;
}
nav li a{
    text-decoration: none;
    color: var(--teksti);
   
}
nav img{
    width: 35px;
    padding: 0%;
}
nav img{
    cursor: pointer;
}
nav ul li a {
    border: 2px solid transparent;
    display: inline-block;
    padding: 4px 8px;
}
nav ul li:not(:nth-child(1)):not(:nth-child(3)) a:hover {
    border: 2px solid transparent;
    background-color: #dddada;
    border-radius: 15px;
}

nav ul li .imazh {
    border: 2px solid transparent;
    padding : 5px
    
}
nav ul li .imazh:hover {
    border: 2px solid transparent;
    background-color: #dddada ;
    border-radius: 30px;
}
aside{
    grid-area: aside;
}
main{
     grid-area: main;
     top: 125px; 
     position: relative;/* për të mundësuar top nëse përdoret */
   
}
#right{
    grid-area: right;
}
body{
    background-color: var(--background);
    color: var(--teksti);
    font-family: Arial, sans-serif;
    .logo-dark{
        display: none;
    }
    #dark-imazh{
        display: none;
    }
    #translate-dark{
        display: none;
    }
    .dark-chevron{
        display: none;
    }

}

main h2{
    color: var(--tituj);
    font-size: 2em;
    margin-top: 0;

}
main p{
    line-height: 1.6;
    font-size: 1.2em;

}
main code{
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    display: block;
    margin: 10px 0;
    font-size: 1.5em;
}

.sidebar{
    left: 15px;
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    text-align: left;
    border-right: 1px solid var(--tituj);
    position: fixed;
    top:13%;
}
.sidebar h3{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin-bottom: 15px;
}
.sidebar ul {
    list-style: none;
}

.sidebar ul li span.active:hover {
    color: var(--kalter);
    transform:none;
}

.sidebar a, .sidebar .dropdown-btn{
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: var(--teksti);
    display: flex;
    align-items: center;
    gap: 1em;

}
.dropdown-btn{
    width: 100%;
    text-align: left;
    border: none;
    font: inherit;
    cursor: pointer;
    background-color: transparent; 
}

.sidebar .not-dropdown:hover, .sidebar .dropdown-btn:hover{
   background-color: #6e778138;

}
.sidebar a:hover{
    background-color: #6e778138;
}
.sidebar .not-dropdown.active, .sidebar .dropdown-btn.active{
  background-color: #3ecdf52d;
   color: var(--accent);
}

.sidebar .dropdown-content {
    display: grid;
    grid-template-rows : 0fr;
    transition: 300ms ease-in-out;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    
}
.sidebar .dropdown-content.show{
    grid-template-columns: 1fr;
}
.sidebar ul > li > button > img{
    width: 20px;
    height: 20px;
    margin-left: auto;
    transition: transform 0.3s ease;
}
#right{
    margin-top: 30%;
    margin-left: 20%;  
    overflow-y: auto; 
    position : sticky;
}

/*
#right{
    display: none; /*vetem nje ne cdo faqe ;
    height: 100vh;
    width: 250px;
    text-align: left; 
}
*/
#right ul {
    list-style: none;
}
#right h6{
    font: inherit;
    font-size: x-large;
    margin-top: 0;
    margin-bottom: 20px;
}
#right ul li a{
    text-decoration: none;
    color: var(--teksti);
    font-size: large;
}
#right ul li {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;

}
#right ul li a:hover{
    color: var(--accent);
}
main ul {
    list-style: none;
}

.dropdown-btn img{
    transition: 200ms ease;

}
.rotate img{
    transform: rotate(90deg);
}

.sidebar .dropdown-content li a{
    color: hsla(212, 8%, 47%, 0.996);
}

.dropdown-btn{
    cursor: pointer;
    img{
        transition: rotate 150ms ease;
    }
}
.dropdown-btn.rotate img {
    transform: rotate(90deg);
}
.dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.dropdown-content.show {
    max-height: 500px;
}
#light-dark{
    cursor: pointer;
}
body.dark-mode {
    background-color:#20232a;
    color: hsl(0, 24%, 96%);
    h1, h2, h3, h4, h5, h6, p {
        color: hsl(0, 24%, 96%);
    }
    .logo-dark{
        display: block;
    }
    .logo-light{
        display: none;
    }
    .light-chevron{
        display: none;
    }
    .dark-chevron{
        display: block;
    }
    #light-dark{
        display: none;
    }
    #dark-imazh{
        display: block;
    }
   #translate-light{
    display: none;
   }
   #translate-dark{
    display: block;
   }
    main code {
        background-color:hsl(212, 11%, 34%) ;
        color: hsl(0, 24%, 96%);
    }
    .sidebar> ul >li> a {
        color: hsl(0, 24%, 96%);
    }
    #sidebar ul li button {
        color: hsl(0, 24%, 96%);
    }
  
    #sidebar ul li .dropdown-content a {
        color: hsla(0, 24%, 96%, 0.719);
    }

    .sidebar ul li a:hover, .sidebar .dropdown-btn:hover {
        background-color: #444;
        color:var(--accent);
    }
     #sidebar ul li button:hover {
       color:var(--accent);
    }
    #right ul li a{
        color: hsl(0, 24%, 96%);
    }
    #right ul li a:hover{
        color:var(--accent);
    }
    #right h6 {
        color: hsl(0, 24%, 96%);
    }
    header {
        background-color:hsl(212, 11%, 34%) ;
        color: hsl(0, 24%, 96%);
    } 
    .fixed-wrapper{
         background-color:#20232a;
    }
    .fixed-wrapper nav ul li a {
        color: white;
    }
    .fixed-wrapper nav ul li:not(:first-child):not(:nth-child(3)) a:hover{
        background-attachment: fixed;
        background-color: #444;
    }


    
   
}
/* djathtas i ngjitur (sticky) */
#right {
  position: sticky;
  top: calc(var(--headerH, 80px) + 16px);
  align-self: flex-start; /* nëse layout-i është me flex/grid */
  height: fit-content;
}

/* shfaq vetëm box-in aktiv */
#right > div { display: none; }
#right > div.active { display: block; }

/* që anchor-ët të mos fshihen pas header-it fixed */
main .Container,
main .Container > div[id] {
  scroll-margin-top: calc(var(--headerH, 80px) + 16px);
}

