:root{
    --background: #fcfbf7;
    --teksti:  #333333;
    --tituj: #4a4a4a;
    --jeshileh:#27ae60;
    --jeshilef:#27ae60;

}
body{
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: auto auto  1fr;
    grid-template-areas: 
        "header header header"
        "nav nav nav"
        "aside main right"
        ;
}
header{
    grid-area: header;
    margin-bottom: 0;
}
#sidebar{
    box-sizing: border-box;
}
nav{ 
    grid-area: nav;
    display: flex;
    margin-top: 0;
    margin-bottom: 10px;
    align-items: center;

}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 10px;
    align-items: center;
}
nav ul li{
    margin: 10px;
    padding-left:6px ;
    padding-right: 6px;
}
aside{
    grid-area: aside;
}
main{
    grid-area: main;
}
#right{
    grid-area: right;
}
body{
    background-color: var(--background);
    color: var(--teksti);
    font-family: Arial, sans-serif;
}

header{
    padding:10px;
    top: 0%;
    text-align: center;
    font-size: 1.5em;
    background-color: #dddada ;
}
nav li form input{
    border-radius:20px;
    border: 1px solid #dddada ;
    background-color: #dddada ;
    width: 1170px;
    height: 30px;
}
nav li a{
    text-decoration: none;
    color: var(--teksti);
   
}
nav img{
    width: 35px;
    padding: 0%;
}
nav ul li a {
    border: 2px solid transparent;
    display: inline-block;
    padding: 4px 8px;
}
nav ul li a:hover {
    border: 2px solid transparent;
    background-color: #dddada ;
    border-radius: 15px;
    
}
nav ul li .imazh {
    border: 2px solid transparent;
    display: inline-block;
    padding : 5px
    
}
nav ul li .imazh:hover {
    border: 2px solid transparent;
    background-color: #dddada ;
    border-radius: 30px;
    
}